# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.idea/
/src/main/java/Main.class

# Eclipse project files
.classpath
.project
.settings

# Ignore databases
.db
